## Basic
alias ..='cd ..'
alias 2..='cd ../..'
alias 3..='cd ../../..'
alias 4..='cd ../../../..'
alias 5..='cd ../../../../..'
alias h='cd ~'
alias df='df -h -x tmpfs'
alias du='du -h --max-depth=1 2> /dev/null | sort -h -r | head -n20'
alias free='free -h'
alias mkdir='mkdir -p'
alias q='exit'
alias rb='reboot'
alias pwr='shutdown -h'
alias qsi='inxi -Fxxxrza'

## Dotfiles
alias n='$EDITOR'
alias sn='sudoedit'
alias g.='cd ~/.config'
alias gc='git clone'
alias gcm='git commit -m'
alias ktrc='$EDITOR ~/.config/kitty/kitty.conf'

if [[ -n $ZSH_VERSION ]]; then
	alias shrc='$EDITOR ~/.zshrc'
	alias rld='clear && source ~/.zshrc'
else
	alias shrc='$EDITOR ~/.bashrc'
	alias rld='clear && source ~/.bashrc'
fi

if [[ $(tty) =~ /dev/tty ]]; then
	alias strc='$EDITOR ~/.config/starship-tty.toml'
else
	alias strc='$EDITOR ~/.config/starship-gui.toml'
fi

## Productivity
alias rec='ffmpeg -video_size 1920x1080 -framerate 25 -f x11grab -i :0.0 ~/Videos/Screencasts/rec-$(date +%y%m%d%H%M).mp4'
alias ytmp4="yt-dlp -f 'bv*[height<=1080]+ba/b[height<=1080]' --merge-output-format mp4 --cookies-from-browser firefox -N 10"
alias ytmp3="yt-dlp -f 'bestaudio/best' --extract-audio --audio-format mp3 --audio-quality 320k --add-metadata --cookies-from-browser firefox -N 10"
alias ping='ping -c 20'
alias stf1='starship explain'

## For the memes
alias fetch='echo && fastfetch -l none'
alias hello="notify-send 'Oh, hi! Nice to see you!' 'Remember to take regular breaks and drink water!' -i tux"
alias pls='sudo $(fc -ln -1)'

## Archive extraction
function ex {
 if [ -z "$1" ]; then
    # display usage if no parameters given
    echo "Usage: ex <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
    echo "       extract <path/file_name_1.ext> [path/file_name_2.ext] [path/file_name_3.ext]"
 else
    for n in "$@"
    do
      if [ -f "$n" ] ; then
          case "${n%,}" in
            *.cbt|*.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar)
                         tar xvf "$n"       ;;
            *.lzma)      unlzma ./"$n"      ;;
            *.bz2)       bunzip2 ./"$n"     ;;
            *.cbr|*.rar)       unrar x -ad ./"$n" ;;
            *.gz)        gunzip ./"$n"      ;;
            *.cbz|*.epub|*.zip)       unzip ./"$n"       ;;
            *.z)         uncompress ./"$n"  ;;
            *.7z|*.arj|*.cab|*.cb7|*.chm|*.deb|*.dmg|*.iso|*.lzh|*.msi|*.pkg|*.rpm|*.udf|*.wim|*.xar)
                         7z x ./"$n"        ;;
            *.xz)        unxz ./"$n"        ;;
            *.exe)       cabextract ./"$n"  ;;
            *.cpio)      cpio -id < ./"$n"  ;;
            *.cba|*.ace)      unace x ./"$n"      ;;
            *)
                         echo "ex: '$n' - unknown archive method"
                         return 1
                         ;;
          esac
      else
          echo "'$n' - file does not exist"
          return 1
      fi
    done
fi
}

## Package management
# Pacman / Yay
# alias s='yay -S'
# alias sy='yay -Sy'
# alias syu='yay -Syu'
# alias rn='yay -Rn'
# alias rns='yay -Rns'
# alias ss='yay -Ss'
# alias pw='yay -Pw'
# alias pww='yay -Pww'
# alias Q='pacman -Q'
# alias ql='pacman -Q | wc -l'
# alias si='pacman -Si'
# alias qdtq='yay -Rns $(pacman -Qdtq)'

## APT / Nala
alias s='sudo nala install'
alias sy='sudo nala update'
alias syu='sudo nala upgrade'
alias rn='sudo nala purge'
alias rns='sudo nala purge --autoremove'
alias ss='nala search'
alias Q='/usr/bin/apt list --installed | wc -l'
alias qdtq='sudo nala autoremove --purge'


   
